.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 95vh;
  overflow: hidden;
  width: 32%;
  margin: auto;
  /* background-color: aqua; */
}
.title {
  font-size: 2.8rem;
  font-weight: 900;
  font-family: sans-serif;
  /* background-color: red; */
}
.description {
  color: rgb(113, 113, 123);
  margin-left: auto;
  margin-right: auto;
  margin-top: -21px;
  font-size: 19px;
  text-align: center;
  line-height: 30px;
}
.information-quiz {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  background-color: rgb(247, 245, 245);
  width: 99% /* align-items: center; */;
  border: 1px solid rgb(192, 190, 190);
  border-radius: 20px;
}
.infos {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  color: rgb(113, 113, 123);
}
.hello {
  direction: rtl;
}
.commancer-quiz {
  background-color: rgb(77, 69, 228);
  color: white;
  border: none;
  outline: none;
  width: 448px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 30px;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
.commancer-quiz:hover {
  background-color: rgb(96, 88, 231);
  transform: scale(1.02);
}
.instruction {
  color: rgb(113, 113, 123);
  text-align: center;
  margin-top: 30px;
}
.container_quiz {
  display: flex;
  flex-flow: column nowrap;
  width: 60%;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  margin: auto;
}
.progress {
  width: 100%;
  height: 6px;
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: rgb(79, 70, 229);
}

.qq {
  width: 100%;
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: rgb(79, 70, 229); /* couleur de la barre (track) */
  border-radius: 5px;
  outline: none;
}
.cadre_quiz {
}
